        /* General Styles - Start *************************************************************************************************/
        
        * {
            box-sizing: border-box;
        }
        
        body {
            background-color: #4C4C4C margin: 0;
            font-family: 'Lato', sans-serif;
        }
        /* H Style span       */
        
        span {
            font-family: 'Handlee', cursive;
            color: #E8AF0C;
            font-weight: 400;
        }
        
        h1 {
            color: grey;
        }
        
        h2 {
            font-family: 'Permanent Marker', cursive;
            text-align: center;
            color: grey;
            text-shadow: 1px 1px 2px #E8AF0C;
            margin-bottom: 30px;
        }
        /*Style Klasa col-1-2*************************************************************************************************************************************************************/
        
        .col-1-2 {
            width: 50%;
            float: left;
            margin: 0;
        }
        
        section {
            overflow: auto;
            padding: 40px 0;
        }
        
        p {
            font-size: 18px;
            line-height: 1.5em;
        }
        
        .btn-primary {
            background-color: #E8AF0C;
            border-color: transparent;
        }
        
        .btn-primary:hover {
            background-color: grey;
            border-color: transparent;
        }
        
        .btn-primary:focus {
            background-color: grey;
            border-color: transparent;
        }
        
        a {
            color: grey;
        }
        
        .fa {
            color: grey;
            margin: 5px;
        }
        /*moje menu glowne *************************************************************************************************************************************************************8*/
        
        #main-nav {
            position: fixed;
            background-color: transparent;
            width: 100%;
            z-index: 10;
        }
        
        #main-nav ul {
            text-align: center;
        }
        
        #main-nav ul .menu-item {
            display: inline-block;
            padding: 25px;
        }
        
        #main-nav ul a {
            font-size: 1.2em;
            color: #E8AF0C;
            text-decoration: none;
            transition: all .3s;
        }
        
        #main-nav ul .menu-item a:hover {
            color: #291f1a;
        }
        
        .navbar-default {
            border: 0px;
        }
        
        #main-nav.scroll {
            background-color: #fff;
        }
        
        #main-nav.scroll ul .menu-item a {
            color: #1ac056;
        }
        
        #main-nav.scroll ul .menu-item a:hover {}
        /*Menu glowne stop*/
        /* Naglowek Start */
        
        #main-header {
            width: 100%;
            height: 100vh;
            background-image: url(../img/manicure-1105373_1920.jpg);
            background-position: center;
            background-size: cover;
            position: relative;
        }
        
        #main-header .header-caption {
            position: absolute;
            top: 46%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            text-align: center;
            color: #fff;
            font-family: 'Roboto', sans-serif;
        }
        
        #main-header .header-caption h1 {
            font-family: 'Handlee', cursive;
            font-size: 5em;
            font-weight: 300;
            margin-bottom: 63px;
        }
        
        #main-header .header-caption h2 {
            font-size: 4em;
            font-weight: 300;
        }
        /* Naglowek stop ******************************************************************************************************************************************/
        
        h2 {
            text-align: center;
        }
        /*Social Header**************************************************************************88*/
        
        #social-header .col-md-6 {
            text-align: center;
        }
        
        #cytat {
            font-style: italic;
            text-align: center;
            color: gold;
            background-image: url(../img/the-background-1304387_1920.png);
        }
        /* About Section********************************************************************************************************************** */
        
        #fotograf {
            display: none;
        }
        
        figure img {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            border-left: 4px inset grey;
            border-top: 4px inset grey;
            border-bottom: 4px inset #E8AF0C;
            border-right: 4px inset #E8AF0C;
        }
        
        .col-md-4 .col-md-6 {
            display: inline-block;
        }
        /*Ofert Section*/
        
        #ofert {
            background-image: url(../img/the-background-1304387_1920.png);
            background-color: #e3e3e3;
            color: #E8AF0C;
            background-position: center;
            background-size: cover;
        }
        
        #ofert h3 {
            text-shadow: 1px 1px 1px grey;
        }
        
        #ofert .col-md-4 figure {
            width: 360px height: 244px;
            border-left: 4px inset grey;
            border-top: 4px inset grey;
            border-bottom: 4px inset #E8AF0C;
            border-right: 4px inset #E8AF0C;
            overflow: hidden;
            text-align: center;
        }
        
        #ofert .col-md-4 figure img {
            margin: 0px;
            transition: 0.5s;
        }
        
        #ofert .col-md-4 figure img:hover {
            transform: scale(1.2);
            transition: 0.5s;
        }
        
        #ofert .row figcaption {
            text-align: center;
        }
        
        #ofert .row p {
            margin-top: 40px;
        }
        /*TEAM**********************************************/
        
        #team figure {
            text-align: center;
        }
        
        #team img {
            width: 50%;
            border-left: 4px inset grey;
            border-top: 4px inset grey;
            border-bottom: 4px inset #E8AF0C;
            border-right: 4px inset #E8AF0C;
        }
        
        #team figcaption {
            text-align: center;
        }
        /*Social Footer*************************************************************/
        
        #social-footer {
            text-align: center;
            background-image: url(../img/the-background-1304387_1920.png);
        }
        
        #social-footer .fa:hover {
            color: gold;
            transition: 0, 5s;
        }
        
        #social-footer h4 {
            color: grey;
        }

/*contact*********************************************************************************************************************************************************************************************
*/

#contact {
    color:grey;
    font-size: 1.2em;
}


/*Footer author*********************************************************************/

#author p{text-align: center;
    font-size: 12px;
    background-image: url(../img/the-background-1304387_1920.png);
    color: grey;
}